
    <!-- Loader -->
    <div id="ms-overlay">
        <div class="loader"></div>
    </div>
    
<!-- Header start  -->
    <header class="ms-header">
        <!-- Header Top Start -->
        <div class="header-top">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Header Top social Start -->
                    <div class="col text-left header-top-left d-none d-lg-block">
                        <div class="header-top-social">
                        </div>
                    </div>
                    <!-- Header Top social End -->
                    <!-- Header Top Message Start -->
                    <div class="col text-center header-top-center">
                        <div class="header-top-message">
                            Leading Platform to Discover and Source Korean Products
                            <div sec:authorize="isAuthenticated()">
                                <a th:href="@{/user/logout}"> Welcome, [[${loginName}]] [[ ${#authentication.name} ]] !</a>
                            </div>
                        </div>
                    </div>
                    <!-- Header Top Message End -->
                    <!-- Header Top Language Currency -->
                    <div class="col header-top-right d-none d-lg-block">
                        <div class="header-top-right-inner d-flex justify-content-end">
                      <a class="ms-help" th:href="@{/aboutUs}" style="display: flex; align-items: center;">
                          <img src="/assets/img/icons/leaf.png" alt="about us icon" style="width: 16px; margin-right: 5px;">
                          About Us
                      </a>
                  </div>
                    </div>
                    <!-- Header Top Language Currency -->
                    <!-- Header Top responsive Action -->
                    <div class="col header-top-res d-lg-none">
                        <div class="ms-header-bottons">
                            <!-- Category Toggle -->
                            <div class="col ms-category-icon-block">
                                <div class="ms-category-menu">
                                    <div class="ms-category-toggle">
                                        <img src="/assets/img/icons/category-icon.svg"
                                            class="svg_img header_svg svg_cat" alt="icon">
                                    </div>
                                </div>
                            </div>
                            <div class="right-icons">
                                <!-- Header User Start -->
                                <a href="login.html" class="ms-header-btn ms-header-user">
                                    <div class="header-icon"><img src="/assets/img/icons/user.svg"
                                            class="svg_img header_svg" alt="">
                                    </div>
                                </a>
                                <!-- Header User End -->
                            </div>
                        </div>
                    </div>
                    <!-- Header Top responsive Action -->
                </div>
            </div>
        </div>
        <!-- Header Top  End -->

        <!-- Header Bottom Start -->
        <div class="ms-header-bottom d-none d-lg-block">
            <div class="container position-relative">
                <div class="row">
                    <div class="ms-flex d-flex align-items-center justify-content-between"> <!-- Flexbox 추가 -->
                        <!-- Header Logo Start -->
                        <div class="align-self-center ms-header-logo">
                            <div class="header-logo">
                                <a th:href="@{/}"><img th:src="@{/img/tkForestlogoB2BLong.png}" alt="Site Logo"></a>
                            </div>
                        </div>
                        <!-- Header Logo End -->

                        <!-- Header Search and Account Button Start -->
                        <div class="d-flex align-items-center justify-content-center flex-grow-1"> <!-- Flexbox 수정 -->
                            <!-- Header Search Start -->
                            <div class="align-self-center ms-header-search mx-auto"> <!-- mx-auto 추가 -->
                                <div class="header-search">
                                    <form class="ms-search-group-form" th:action="@{/product/productList}" method="GET"
                                        id="searchForm">
                                        <input type="hidden" name="page" id="requestPage" th:value="${page}">
                                        <input type="hidden" name="sortBy" id="sortBy" value="registrationDate">
                                        <div class="ms-search-select-inner">
                                            <select class="ms-search-cat selectpicker" id="searchType"
                                                name="searchType">
                                                <option value="ALL" th:selected="${searchType == 'ALL'}">ALL</option>
                                                <option value="Products" th:selected="${searchType == 'Products'}">
                                                    Products</option>
                                                <option value="Brand" th:selected="${searchType == 'Brand'}">Brand
                                                </option>
                                            </select>
                                        </div>
                                        <!-- query없으면 빈값 -->
                                        <input class="form-control ms-search-bar" id="query" th:value="${query}"
                                            placeholder="Search Products..." type="text" name="query">
                                        <button class="search_submit" type="submit">
                                            <img src="/assets/img/icons/search.svg" class="svg_img search_svg" alt="">
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <!-- Header Search End -->

                            <!-- Header Button Start -->
                            <div class="ms-header-bottons">
                                <div class="ms-acc-drop">
                                    <a href="javascript:void(0)"
                                        class="ms-header-btn ms-header-user dropdown-toggle ms-user-toggle"
                                        title="Account">
                                        <div class="header-icon">
                                            <img src="/assets/img/icons/user.svg" class="svg_img header_svg" alt="">
                                        </div>
                                        <div class="ms-btn-desc">
                                            <span class="ms-btn-title">Account</span>
                                            <span sec:authorize="isAuthenticated()" class="ms-btn-stitle">Log Out/My
                                                Page</span>
                                            <span sec:authorize="isAnonymous()" class="ms-btn-stitle">Login/Sign
                                                Up</span>
                                        </div>
                                    </a>
                                    <ul class="ms-dropdown-menu">
                                        <!-- 비회원용 옵션 -->
                                        <li sec:authorize="isAnonymous()">
                                            <a class="dropdown-item" th:href="@{/user/signUp}">Sign Up</a>
                                        </li>
                                        <li sec:authorize="isAnonymous()">
                                            <a class="dropdown-item" th:href="@{/user/login}">Login</a>
                                        </li>
                                        <!-- 회원용 옵션 -->
                                        <li sec:authorize="isAuthenticated()">
                                            <a class="dropdown-item" th:href="@{/user/logout}">Log out</a>
                                        </li>
                                        <!-- 셀러용 옵션 -->
                                        <li sec:authorize="hasRole('ROLE_SELLER')">
                                            <a th:href="@{/user/sellerMypage}">Seller My Page</a>
                                        </li>
                                        <!-- 바이어용 옵션 -->
                                        <li sec:authorize="hasRole('ROLE_BUYER')">
                                            <a th:href="@{/user/buyerMypage}">Buyer My Page</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Header Button End -->
                        </div>
                        <!-- Header Search and Account Button End -->
                    </div>
                </div>
            </div>

        </div>
        <!-- Header Bottom End -->

        <!-- Header menu -->
        <div class="ms-header-cat d-none d-lg-block">
            <div class="container position-relative">
                <div class="row justify-content-between">

                    <!-- Category Toggle -->
                    <div class="col ms-category-icon-block">
                        <div class="ms-category-menu">
                            <div class="ms-category-toggle">
                                <img src="/assets/img/icons/category-icon.svg" class="svg_img header_svg svg_cat"
                                    alt="icon">
                            </div>
                        </div>
                    </div>

                    <!-- Main Menu Start -->

               <div id="ms-main-menu-desk" class="d-none d-lg-block sticky-nav">
                   <div class="position-relative nav-desk">
                       <div class="row">
                           <div class="col-md-12 align-self-center">
                               <div class="ms-main-menu">
                                   <ul style="display: flex; justify-content: flex-start;">
                                  <li class="non-drop">
                               <a th:href="@{/}" style="display: flex; align-items: center;">
                                   <img src="/assets/img/icons/home.png" alt="home icon" style="width: 20px; margin-right: 5px;">
                                   Home
                               </a>
                           </li>
                                       <!-- Categories Dropdown -->
                                       <li class="dropdown drop-list position-static">
                                           <a th:href="@{/product/productList}" class="dropdown-arrow" style="display: flex; align-items: center;">
                                        <img src="/assets/img/icons/price_tag.png" alt="categories icon" style="width: 20px; margin-right: 5px;">
                                        Categories<i class="msicon msi-angle-right"></i>
                                    </a>
   
                                                 <ul class="mega-menu d-block">
                                               <li class="d-flex">
                                                   <span class="bg"></span>
                                                   <ul class="d-block">
                                                       <li class="menu_title"><a th:href="@{/product/productList(categoryNo=11)}">Beauty</a></li>
                                                       <li><a th:href="@{/product/productList(categoryNo=111101)}">Makeup</a></li>
                                                       <li><a th:href="@{/product/productList(categoryNo=111102)}">Other Beauty Products</a></li>
                                                       <li><a th:href="@{/product/productList(categoryNo=111103)}">Makeup Tools</a></li>
                                                       <li><a th:href="@{/product/productList(categoryNo=111104)}">Body & Nail</a></li>
                                                       <li><a th:href="@{/product/productList(categoryNo=111105)}">Beauty Appliance</a></li>
                                                       <li><a th:href="@{/product/productList(categoryNo=111106)}">Fragrance & Deodorant</a></li>
                                                   </ul>
                                                   <ul class="d-block">
                                                       <li class="menu_title"><a th:href="@{/product/productList(categoryNo=11)}">Personal Care</a></li>
                                                       <li><a th:href="@{/product/productList(categoryNo=111201)}">Facial Care</a></li>
                                                       <li><a th:href="@{/product/productList(categoryNo=111202)}">Hair Care</a></li>
                                                       <li><a th:href="@{/product/productList(categoryNo=111203)}">Other Personal Care</a></li>
                                                       <li><a th:href="@{/product/productList(categoryNo=111204)}">Bath Supplies</a></li>
                                                       <li><a th:href="@{/product/productList(categoryNo=111205)}">Body Care</a></li>
                                                       <li><a th:href="@{/product/productList(categoryNo=111206)}">Oral Hygiene</a></li>
                                                     <li><a th:href="@{/product/productList(categoryNo=111207)}">Sanitary Paper</a></li>
                                                     <li><a th:href="@{/product/productList(categoryNo=111208)}">Home Care</a></li>
                                                     <li><a th:href="@{/product/productList(categoryNo=111209)}">Shaving & Hair Removal</a></li>
                                                   </ul>
                                                   <ul class="d-block">
                                                       <li class="menu_title"><a href="javascript:void(0)">Foods</a></li>
                                                       <li><a href="shop-full-width-col-3.html">Admixture & Additives</a></li>
                                                       <li><a href="shop-full-width-col-4.html">Animal Feeds</a></li>
                                                       <li><a href="shop-full-width-col-5.html">Animal Products</a></li>
                                                       <li><a href="shop-full-width-col-6.html">Baby Food</a></li>
                                                       <li><a href="shop-banner-full-width-col-3.html">Baked Goods</a></li>
                                                   </ul>
                                                   <ul class="d-block">
                                                       <li class="menu_title"><a href="javascript:void(0)">More+</a></li>
                                                   </ul>
                                               </li>
                                           </ul>
                                       </li>
                                       
                                       <!-- Discover Dropdown -->
                                       <li class="dropdown drop-list position-static">
                                           <a th:href="@{/}" class="dropdown-arrow" style="display: flex; align-items: center;">
                                               <img src="/assets/img/icons/discover.svg" alt="discover" style="width: 20px; margin-right: 5px;">
                                               Discover<i class="msicon msi-angle-right"></i>
                                           </a>
                                           <ul class="mega-menu d-block" style="margin-right: 0;">
                                        <li class="d-flex">
                                            <span class="bg"></span>
                                            <ul class="d-block">
                                                <li class="menu_title"><a th:href="@{/product/productList}">All Product</a></li>
                                            </ul>
                                            <ul class="d-block">
                                                <li class="menu_title"><a th:href="@{/rec/recList}">Recommendation</a></li>
                                            </ul>
                                            <ul class="d-block">
                                                <li class="menu_title"><a th:href="@{/api/globalMap}">Trend News</a></li>
                                            </ul>
                                            <ul class="d-block">
                                                <li class="menu_title"><a th:href="@{/aboutUs}">About Us</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                       </li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>


                    <!-- Main Menu End -->
                    <div class="col ms-location-block">
                        <div class="ms-location-menu">
                            <div class="ms-location-toggle">
                                <img src="/assets/img/icons/location.svg" class="svg_img header_svg svg_loc" alt="icon">
                                <span class="ms-location-title d-1199 ms-location" id="ms_location"></span>
                                <i class="msicon msi-angle-down d-1199" aria-hidden="true"></i>
                            </div>
                            <div class="ms-location-content">
                                <div class="ms-location-dropdown">
                                    <div class="row ms-location-wrapper">
                                        <ul class="loc-grid">
                                            <li class="loc-list current">your location</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header menu End -->
    </header>
<!-- header end -->

<!-- Breadcrumb start -->
<div class="ms-breadcrumb m-b-30"
th:style="${#authorization.expression('hasRole(''ROLE_SELLER'')')} ? 'background-color: rgb(255, 228, 232); color: fff;' : (${#authorization.expression('hasRole(''ROLE_BUYER'')')} ? 'background-color: rgb(221, 247, 255); color: fff;' : '')">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ms_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ms-breadcrumb-title">My Page</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ms-breadcrumb-list start -->
                        <ul class="ms-breadcrumb-list">
                            <li class="ms-readcrumb-item">Home</li>
                            <li class="ms-breadcrumb-item active"> > My Page</li>
                        </ul>
                        <!-- ms-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->