<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    
    <!-- 헤더 불러오기 -->
    <div th:replace="~{fragment/header :: header}"></div>
    
    <h2>buyerMypage페이지입니다</h2>
    
      
        <li><a th:href="@{/user/buyerSignUp}">바이어 가입창</a></li>
        <a th:href="@{/user/buyerProfileUpdate}">사용자 정보 수정</a>
        

        <!--  
        <li><a th:href="@{/user/signUp}">인콰이어리 리스트</a></li>
        <li><a th:href="@{/user/signUp}">관심 리스트</a></li>
        <li><a th:href="@{/rec/recList}">개인 추천 리스트(페이지x)</a></li>
        -->


</body>
</html>
