<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>TK Forest</title>
   <style>
        .header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        .logo {
            width: 100px;
            height: 100px;
            background-color: #f0f0f0;
            margin-right: 20px;
        }
        .company-name {
            font-size: 24px;
            font-weight: bold;
        }
        .country {
            display: flex;
            align-items: center;
        }
        .country img {
            width: 20px;
            margin-right: 5px;
        }
        .info-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        .info-table td {
            padding: 10px;
            border-bottom: 1px solid #eee;
        }
        .info-table td:first-child {
            font-weight: bold;
            width: 30%;
        }
        .main-markets, .main-products {
            margin-bottom: 20px;
        }
        .market-flags, .products {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .market-flag {
            width: 50px;
            height: 50px;
            background-color: #f0f0f0;
            border-radius: 50%;
        }
        .product {
            width: calc(25% - 10px);
            text-align: center;
        }
        .product img {
            max-width: 100%;
            height: auto;
            background-color: #f0f0f0;
        }
        .buttons {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: auto; 
            padding: 20px 0;
        }
        .button {
            padding: 10px 20px;
            border: none;
            color: white;
            cursor: pointer;
        }
        .send-inquiry { background-color: #40E0D0; }
        .add-to-favorites { background-color: #20B2AA; }
    </style>

   <!-- site Favicon -->
   <link rel="icon" href="/assets/img/favicon/favicon.png" sizes="32x32">

   <!-- css Icon Font -->
   <link rel="stylesheet" href="/assets/css/vendor/msicons.min.css">

   <!-- css All Plugins Files -->
   <link rel="stylesheet" href="/assets/css/plugins/animate.css">
   <link rel="stylesheet" href="/assets/css/plugins/swiper-bundle.min.css">
   <link rel="stylesheet" href="/assets/css/plugins/bootstrap.css">
   <link rel="stylesheet" href="/assets/css/plugins/bootstrap-select.min.css">
   <link rel="stylesheet" href="/assets/css/plugins/owl.carousel.min.css">
   <link rel="stylesheet" href="/assets/css/plugins/owl.theme.default.min.css">
   <link rel="stylesheet" href="/assets/css/plugins/slick.min.css">
   <link rel="stylesheet" href="/assets/css/plugins/nouislider.css">

   <!-- Main Style -->
   <link rel="stylesheet" id="main_style" href="/assets/css/demo-1.css">
   <link rel="stylesheet" href="/assets/css/responsive.css">
   
</head>

<body>

<!-- 헤더! 바디 바로 아래에 넣으면 OK -->
   <!-- Header start  -->
   <header class="ms-header">
      <!-- Header Top Start -->
      <div class="header-top">
         <div class="container">
            <div class="row align-items-center">
               <!-- Header Top social Start -->
               <div class="col text-left header-top-left d-none d-lg-block">
                  <div class="header-top-social">
                  </div>
               </div>
               <!-- Header Top social End -->
               <!-- Header Top Message Start -->
               <div class="col text-center header-top-center">
                  <div class="header-top-message">
                    Leading Platform to Discover and Source Korean Products
                  <div sec:authorize="isAuthenticated()">
					<a th:href="@{/user/logout}"> Welcome, [[${loginName}]]([[ ${#authentication.name} ]])</a>
				</div>
                  </div>
               </div>
               <!-- Header Top Message End -->
               <!-- Header Top Language Currency -->
               <div class="col header-top-right d-none d-lg-block">
                  <div class="header-top-right-inner d-flex justify-content-end">
                     <a class="ms-help" th:href="@{/aboutUs}">About Us</a>
                  </div>
               </div>
               <!-- Header Top Language Currency -->
               <!-- Header Top responsive Action -->
               <div class="col header-top-res d-lg-none">
                  <div class="ms-header-bottons">
                     <!-- Category Toggle -->
                     <div class="col ms-category-icon-block">
                        <div class="ms-category-menu">
                           <div class="ms-category-toggle">
                              <img src="/assets/img/icons/category-icon.svg" class="svg_img header_svg svg_cat"
                                 alt="icon">
                           </div>
                        </div>
                     </div>
                     <div class="right-icons">
                        <!-- Header User Start -->
                        <a href="login.html" class="ms-header-btn ms-header-user">
                           <div class="header-icon"><img src="/assets/img/icons/user.svg" class="svg_img header_svg"
                                 alt="">
                           </div>
                        </a>
                        <!-- Header User End -->
                     </div>
                  </div>
               </div>
               <!-- Header Top responsive Action -->
            </div>
         </div>
      </div>
      <!-- Header Top  End -->

      <!-- Header Bottom Start -->
      <div class="ms-header-bottom d-none d-lg-block">
         <div class="container position-relative">
            <div class="row">
               <div class="ms-flex d-flex align-items-center justify-content-between"> <!-- Flexbox 추가 -->
                  <!-- Header Logo Start -->
                  <div class="align-self-center ms-header-logo">
                     <div class="header-logo">
                        <a th:href="@{/}"><img th:src="@{/img/tkforestlogo.png}" alt="Site Logo"></a>
                     </div>
                  </div>
                  <!-- Header Logo End -->

                  <!-- Header Search and Account Button Start -->
                  <div class="d-flex align-items-center justify-content-center flex-grow-1"> <!-- Flexbox 수정 -->
                     <!-- Header Search Start -->
                     <div class="align-self-center ms-header-search mx-auto"> <!-- mx-auto 추가 -->
                        <div class="header-search">
                           <form class="ms-search-group-form" action="#" method="GET">
                              <div class="ms-search-select-inner">
                                 <select class="ms-search-cat selectpicker" id="categorySelect" name="category">
                                    <option value="ALL">ALL</option>
                                    <option value="Products">Products</option>
                                    <option value="Sellers">Sellers</option>
                                 </select>
                              </div>
                              <input class="form-control ms-search-bar" id="searchInput"
                                 placeholder="Search Products..." type="text" name="query">
                              <button class="search_submit" type="submit">
                                 <img src="/assets/img/icons/search.svg" class="svg_img search_svg" alt="">
                              </button>
                           </form>
                        </div>
                     </div>
                     <!-- Header Search End -->

                     <!-- Header Button Start -->
                     <div class="ms-header-bottons">
                        <div class="ms-acc-drop">
                           <a href="javascript:void(0)"
                              class="ms-header-btn ms-header-user dropdown-toggle ms-user-toggle" title="Account">
                              <div class="header-icon">
                                 <img src="/assets/img/icons/user.svg" class="svg_img header_svg" alt="">
                              </div>
                              <div class="ms-btn-desc">
                                 <span class="ms-btn-title">Account</span>
                                 <span sec:authorize="isAuthenticated()" class="ms-btn-stitle">Log Out/My Page</span>
                                 <span sec:authorize="isAnonymous()" class="ms-btn-stitle">Login/Sign Up</span>
                              </div>
                           </a>
                           <ul class="ms-dropdown-menu">
                           <!-- 비회원용 옵션 -->
                              <li sec:authorize="isAnonymous()"><a class="dropdown-item" th:href="@{/user/signUp}">Sign Up</a></li>
                              <li sec:authorize="isAnonymous()"><a class="dropdown-item" th:href="@{/user/login}">Login</a></li>
                           <!-- 회원용 옵션 -->
                              <li sec:authorize="isAuthenticated()"><a  class="dropdown-item" th:href="@{/user/logout}">Log out</a></li>
                           <!-- 셀러용 옵션 -->   
                              <li sec:authorize="hasRole('ROLE_SELLER')"><a th:href="@{/user/sellerMypage}">My Page(S)</a></li>
                           <!-- 바이어용 옵션 -->   
                              <li sec:authorize="hasRole('ROLE_BUYER')"><a th:href="@{/user/buyerMypage}">My Page(B)</a></li>                              
                              
                           </ul>
                        </div>
                     </div>
                     <!-- Header Button End -->
                  </div>
                  <!-- Header Search and Account Button End -->
               </div>
            </div>
         </div>

      </div>
      <!-- Header Bottom End -->

      <!-- Header menu -->
      <div class="ms-header-cat d-none d-lg-block">
         <div class="container position-relative">
            <div class="row justify-content-between">

               <!-- Category Toggle -->
               <div class="col ms-category-icon-block">
                  <div class="ms-category-menu">
                     <div class="ms-category-toggle">
                        <img src="/assets/img/icons/category-icon.svg" class="svg_img header_svg svg_cat" alt="icon">
                     </div>
                  </div>
               </div>

               <!-- Main Menu Start -->
               <div id="ms-main-menu-desk" class="d-none d-lg-block sticky-nav">
                  <div class="position-relative nav-desk">
                     <div class="row">
                        <div class="col-md-12 align-self-center">
                           <div class="ms-main-menu">
                              <ul style="display: flex; justify-content: flex-start;">
                                 <li class="non-drop"><a th:href="@{/}">Home</a></li>
                                 <li class="dropdown drop-list position-static">
                                    <a href="javascript:void(0)" class="dropdown-arrow">Categories<i
                                          class="msicon msi-angle-right"></i></a>
                                    <ul class="mega-menu d-block">
                                       <li class="d-flex">
                                          <span class="bg"></span>
                                          <ul class="d-block">
                                             <li class="menu_title"><a href="javascript:void(0)">Beauty</a></li>
                                             <li><a href="shop-left-sidebar-col-3.html">Beauty Appliance</a>
                                             </li>
                                             <li><a href="shop-left-sidebar-col-4.html">Body & Nail</a>
                                             </li>
                                             <li><a href="shop-right-sidebar-col-3.html">Fragrance & Deodorant</a>
                                             </li>
                                             <li><a href="shop-right-sidebar-col-4.html">Makeup</a>
                                             </li>
                                             <li><a href="shop-full-width.html">Other Beauty Products</a>
                                             </li>
                                          </ul>
                                          <ul class="d-block">
                                             <li class="menu_title"><a href="javascript:void(0)">Personal Care</a></li>
                                             <li><a href="shop-banner-left-sidebar-col-3.html">Bath Supplies</a></li>
                                             <li><a href="shop-banner-left-sidebar-col-4.html">Body Care</a></li>
                                             <li><a href="shop-banner-right-sidebar-col-3.html">Facial Care</a></li>
                                             <li><a href="shop-banner-right-sidebar-col-4.html">Hair Care</a></li>
                                             <li><a href="shop-banner-full-width.html">Other Personal Care</a>
                                             </li>
                                          </ul>
                                          <ul class="d-block">
                                             <li class="menu_title"><a href="javascript:void(0)">Machinery</a></li>
                                             <li><a href="shop-full-width-col-3.html">Agriculture & Farm Machinery</a></li>
                                             <li><a href="shop-full-width-col-4.html">Analyzers</a></li>
                                             <li><a href="shop-full-width-col-5.html">Apparel & Accessories Machinery</a></li>
                                             <li><a href="shop-full-width-col-6.html">Chemical & Pharmaceutical Machinery</a></li>
                                             <li><a href="shop-banner-full-width-col-3.html">Other Machinery & Industry Equipment</a>
                                             </li>
                                          </ul>
                                          <ul class="d-block">
                                             <li class="menu_title"><a href="javascript:void(0)">More+</a>
                                             </li>
                                          </ul>
                                       </li>
                                    </ul>
                                 </li>
                                 <li class="non-drop"><a th:href="@{/recList}"><img src="/assets/img/icons/discover.svg"
                                          class="svg_img" alt="discover">Discover(보따리)</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Main Menu End -->
                        <div class="col ms-location-block">
                        <div class="ms-location-menu">
                            <div class="ms-location-toggle">
                                <img src="/assets/img/icons/location.svg" class="svg_img header_svg svg_loc" alt="icon">
                                <span class="ms-location-title d-1199 ms-location" id="ms_location"></span>
                                <i class="msicon msi-angle-down d-1199" aria-hidden="true"></i>
                            </div>
                            <div class="ms-location-content">
                                <div class="ms-location-dropdown">
                                    <div class="row ms-location-wrapper">
                                        <ul class="loc-grid">
                                            <li class="loc-list current">your location</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
      <!-- Header menu End -->
</header>

        <!-- Breadcrumb start -->
        <div class="ms-breadcrumb m-b-30">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row ms_breadcrumb_inner">
                            <div class="col-md-6 col-sm-12">
                                <h2 class="ms-breadcrumb-title">Seller Store</h2>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <!-- ms-breadcrumb-list start -->
                                <ul class="ms-breadcrumb-list">
                                    <li class="ms-breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="ms-breadcrumb-item active">Seller Store</li>
                                </ul>
                                <!-- ms-breadcrumb-list end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb end -->
        
<!-- 셀러스토어 섹션 시작 -->
    <div class="ms-seller-store-section padding-tb-60">
        <div class="container">
        <div class="header">
            <div class="logo" id="company-logo"></div>
            <div>
                <div class="company-name" th:text="${seller.companyName}"></div>
            </div>
        </div>

<div>
<ul>
    <li th:each="cateName : ${cateNames}" th:text="${cateName}">카테고리 없음</li>
    <li th:if="${#lists.isEmpty(cateNames)}">카테고리가 없습니다</li>
</ul>
     				
     				<!-- cateNames가 전달되었는지 확인하는 임시 로그 -->
<p th:text="${cateNames != null ? '카테고리 있음' : '카테고리 없음'}">카테고리 상태 확인</p>


<!-- cateNamesCheck가 제대로 렌더링되는지 확인 -->
<p th:text="${cateNamesCheck}">카테고리 상태 확인</p>
</div>


        <table class="info-table">
            <tr>
                <td>President</td>
                <td th:text="${seller.ownerName}"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td th:text="${seller.address}"></td>
            </tr>
            <tr>
                <td>Contact Phone Number</td>
                <td th:text="${seller.bizPhoneNumber}"></td>
            </tr>
            <tr>
            <tr>
                <td>Contact email</td>
                <td th:text="${seller.email}"></td>
            </tr>
            <tr>
                <td>Product Category</td>
                <td id="productCategory">
             	   	<ul>
    <li th:each="cateName : ${cateNames}" th:text="${cateName}">카테고리 없음</li>
    <li th:if="${#lists.isEmpty(cateNames)}">카테고리가 없습니다</li>
</ul>
     				
     				<!-- cateNames가 전달되었는지 확인하는 임시 로그 -->
<p th:text="${cateNames != null ? '카테고리 있음' : '카테고리 없음'}">카테고리 상태 확인</p>


<!-- cateNamesCheck가 제대로 렌더링되는지 확인 -->
<p th:text="${cateNamesCheck}">카테고리 상태 확인</p>
                </td>
            </tr>
            <tr>
                <td>Seller Keyword</td>
                <td th:text="${seller.sellerKeyword}"></td>
            </tr>
            <tr>
                <td>Company Introduction</td>
                <td th:text="${seller.companyDescription}"></td>
            </tr>
            <tr>
                <td>Product List</td>
                <td id="productList"></td>
            </tr>
        </table>

        <div class="main-products">
            <h3>Main Products</h3>
            <div class="products" id="product-list">
                <!-- 여기에 제품 추가 (예시) -->
                <div class="product">
                    <img src="/path-to-product/product1.jpg" alt="Product 1">
                    <p>Product 1 Name</p>
                </div>
                <div class="product">
                    <img src="/path-to-product/product2.jpg" alt="Product 2">
                    <p>Product 2 Name</p>
                </div>
                <div class="product">
                    <img src="/path-to-product/product3.jpg" alt="Product 3">
                    <p>Product 3 Name</p>
                </div>
                <div class="product">
                    <img src="/path-to-product/product4.jpg" alt="Product 4">
                    <p>Product 4 Name</p>
                </div>
            </div>
        </div>
        </div>

        <div class="buttons">
            <button class="button ms-btn-2" th:onclick="'window.location.href=\'' + @{/inquiry/inquiryWrite} + '\';'">Send Inquiry</button>
            <button class="button ms-btn-2">Add to My Favorites</button>
        </div>
    </div>
    </div>
    <!-- 셀러스토어 섹션 끝 -->
<!-- 푸터 시작-->

      <!-- Footer Start -->
      <footer class="ms-footer m-t-30">
         <div class="footer-container">
            <div class="footer-top padding-tb-60">
               <div class="container">
                  <div class="row m-minus-991">
                     <div class="col-sm-12 col-lg-3 ms-footer-cat">
                        <div class="ms-footer-widget ms-footer-company">
                           <img th:src="@{/img/tkforestlogo.png}" class="ms-footer-logo" alt="footer logo">
                           <p class="ms-footer-detail">
                              KITA's global B2B marketplace, tradeKorea!
                              A leading B2B Marketplace to Discover and Source Korean Products</p>
                           <div class="ms-app-store">
                              <a href="#" class="app-img"><img src="assets/img/app/android.png" class="adroid"
                                    alt="apple"></a>
                              <a href="#" class="app-img"><img src="assets/img/app/apple.png" class="apple"
                                    alt="apple"></a>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-12 col-lg-2 ms-footer-info">
                        <div class="ms-footer-widget">
                           <h4 class="ms-footer-heading">About Us</h4>
                           <div class="ms-footer-links ms-footer-dropdown">
                              <ul class="align-items-center">
                                 <li class="ms-footer-link"><a href="about-us.html">About tradeKorea</a></li>
                                 <li class="ms-footer-link"><a href="track-order.html">About KITA</a></li>
                                 <li class="ms-footer-link"><a href="privacy-policy.html">Site Map</a></li>
                                 <li class="ms-footer-link"><a href="privacy-policy.html">FAQ</a></li>
                                 <li class="ms-footer-link"><a href="privacy-policy.html">Delivery Guide</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-12 col-lg-2 ms-footer-account">
                        <div class="ms-footer-widget">
                           <h4 class="ms-footer-heading">Category</h4>
                           <div class="ms-footer-links ms-footer-dropdown">
                              <ul class="align-items-center">
                                 <li class="ms-footer-link"><a href="shop-left-sidebar-col-3.html">Beauty&Personal
                                       Care</a></li>
                                 <li class="ms-footer-link"><a
                                       href="shop-banner-left-sidebar-col-3.html">Machinery&Parts</a></li>
                                 <li class="ms-footer-link"><a href="shop-full-width-col-5.html">Food&Beverage</a></li>
                                 <li class="ms-footer-link"><a href="shop-list-left-sidebar.html">Industrial
                                       Supplies</a></li>
                                 <li class="ms-footer-link"><a href="shop-banner-right-sidebar-col-4.html">More+</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-12 col-lg-2 ms-footer-service">
                        <div class="ms-footer-widget">
                           <h4 class="ms-footer-heading">Support</h4>
                           <div class="ms-footer-links ms-footer-dropdown">
                              <ul class="align-items-center">
                                 <li class="ms-footer-link"><a href="register.html">B2B Matchmaking</a></li>
                                 <li class="ms-footer-link"><a href="#">Buyer Invitation Program</a></li>
                                 <li class="ms-footer-link"><a href="cart.html">Request For Quotation</a></li>
                                 <li class="ms-footer-link"><a href="privacy-policy.html">AI-based Auto Match</a></li>
                                 <li class="ms-footer-link"><a href="#">tK meet</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-12 col-lg-3 ms-footer-cont-social">
                        <div class="ms-footer-contact">
                           <div class="ms-footer-widget">
                              <h4 class="ms-footer-heading">Contact</h4>
                              <div class="ms-footer-links ms-footer-dropdown">
                                 <ul class="align-items-center">
                                    <li class="ms-footer-link ms-foo-location"><span><img
                                             src="assets/img/icons/foo-location.svg" class="svg_img foo_svg"
                                             alt=""></span>
                                       <p>511, Yeongdong-daero, Gangnam-gu, Seoul, Republic of Korea</p>
                                    </li>
                                    <li class="ms-footer-link ms-foo-mail"><span><img
                                             src="assets/img/icons/foo-mail.svg" class="svg_img foo_svg"
                                             alt=""></span><a href="mailto:example@email.com">tradekorea@kita.net</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="ms-footer-social">
                           <div class="ms-footer-widget">
                              <div class="ms-footer-links ms-footer-dropdown">
                                 <ul class="align-items-center">
                                    <li class="ms-footer-link"><a href="#"><i class="msicon msi-instagram"
                                             aria-hidden="true"></i></a></li>
                                    <li class="ms-footer-link"><a href="#"><i class="msicon msi-twitter-square"
                                             aria-hidden="true"></i></a></li>
                                    <li class="ms-footer-link"><a href="#"><i class="msicon msi-facebook-square"
                                             aria-hidden="true"></i></a></li>
                                    <li class="ms-footer-link"><a href="#"><i class="msicon msi-linkedin-square"
                                             aria-hidden="true"></i></a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="footer-bottom">
               <div class="container" style="display: flex; align-items: center;">
                  <div class="row">
                     <div class="ms-bottom-info">
                        <!-- Footer Copyright Start -->
                        <div class="footer-copy">
                           <div class="footer-bottom-copy ">
                              <div class="ms-copy">Copyright ©2008-2024 <a class="site-name" href="index.html">KITA</a>,
                                 All
                                 rights reserved.</div>
                           </div>
                        </div>
                        <!-- Footer Copyright End -->
                        <!-- Footer NEWSLETTER ... later-->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer Area End -->

      <!-- 푸터 끝 -->


      <!-- 다른 프래그먼트나 내용 추가 가능 -->
      <!-- Plugins JS -->
      <script src="/assets/js/plugins/jquery-3.5.1.min.js"></script>
      <script src="/assets/js/plugins/popper.min.js"></script>
      <script src="/assets/js/plugins/bootstrap.bundle.min.js"></script>
      <script src="/assets/js/plugins/bootstrap-select.min.js"></script>
      <script src="/assets/js/plugins/swiper-bundle.min.js"></script>
      <script src="/assets/js/plugins/fontawesome.js"></script>
      <script src="/assets/js/plugins/owl.carousel.min.js"></script>
      <script src="/assets/js/plugins/countdownTimer.js"></script>
      <script src="/assets/js/plugins/infiniteslidev2.js"></script>
      <script src="/assets/js/plugins/jquery.zoom.min.js"></script>
      <script src="/assets/js/plugins/slick.min.js"></script>
      <script src="/assets/js/plugins/nouislider.js"></script>

      <!-- Main Js -->
      <script src="/assets/js/main.js"></script>
      <script src="/assets/js/demo-1.js"></script>
</body>
</html>