<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>게시판</title>
	<link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>

    <!-- 헤더 불러오기 -->
    <div th:replace="fragment/header :: header"></div>

    <!-- 네비게이션 링크 -->
    <nav>
        <ul>
            <h3> 모든 사용자 접근 가능 <h3>
            <li><a th:href="@{/aboutUs}">어바웃어스</a></li>
            <li><a th:href="@{/product/productList}">대분류 카테고리</a></li>
            <li><a th:href="@{/aboutUs}">통계(우선어바웃어스)</a></li>
            <li><a th:href="@{/rec/recList}">추천 페이지</a></li>
            <li><a th:href="@{/inquiry/inquiryList}">인콰이어리 페이지</a></li>
            <li><a th:href="@{/product/productCreate}">상품 등록 화면later </a></li>
            <li><a th:href="@{/user/sellerStore}">기본 셀러 스토어 </a></li>
            <!--<li><a th:href="@{/user/sellerStore/{sellerMemberNo}(sellerMemberNo=${seller.sellerMemberNo})}">특정 셀러 스토어</a></li>-->
            <li><a th:href="@{/chart/chartTest}">차트 테스트</a></li>

           

        </ul>
    </nav>

    <!-- 푸터 -->
    <footer>
        <p>푸터</p>
    </footer>

</body>
</html>
