/* screen - mypagesellerprofile */

.mypagesellerprofile {
  align-items: flex-start;
  background-color: var(--x127001white);
  display: flex;
  flex-direction: column;
  height: 5373px;
  padding: 109.6px 104px;
  width: 1728px;
}

.mypagesellerprofile .overlap-group2 {
  height: 267px;
  margin-top: 7px;
  position: relative;
  width: 1519px;
}

.mypagesellerprofile .header {
  align-items: flex-start;
  background-color: var(--x127001white);
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 1519px;
}

.mypagesellerprofile .background {
  background-color: #f5f4f9;
  padding: 9.45px 99.6px 10px;
}

.mypagesellerprofile .container {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 1320px;
  position: relative;
  width: 1320px;
}

.mypagesellerprofile .container-13 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .container-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1320px;
  padding: 0px 12px;
  position: relative;
}

.mypagesellerprofile .list-2 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  width: 100%;
}

.mypagesellerprofile .itemmargin-1 {
  padding: 0px 15px 0px 0px;
}

.mypagesellerprofile .component-23 {
  height: 19.5px;
  position: relative;
  width: 134.43px;
}

.mypagesellerprofile .linkmargin {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  height: 20px;
  justify-content: center;
  padding: 0px 5px;
  position: relative;
}

.mypagesellerprofile .link {
  align-items: center;
  display: inline-flex;
  height: 19.5px;
  justify-content: center;
  padding: 1.45px 0px 2.25px;
  position: relative;
}

.mypagesellerprofile .container-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 0.6px;
  position: relative;
}

.mypagesellerprofile .container-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.mypagesellerprofile .component-1-2 {
  height: 15.2px;
  position: relative;
  width: 12.11px;
}

.mypagesellerprofile .component-23-1 {
  align-self: stretch;
  margin-left: -0.01px;
  position: relative;
  width: 135.5px;
}

.mypagesellerprofile .component-1-3 {
  height: 15.2px;
  position: relative;
  width: 13.19px;
}

.mypagesellerprofile .container-14 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 65.93px 0.55px;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .leading-platform-to {
  color: var(--x127001boulder);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.5px;
  margin-left: -44.93px;
  margin-right: -44.93px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .container-15 {
  height: 19px;
  position: relative;
  width: 359px;
}

.mypagesellerprofile .component-container {
  align-items: flex-start;
  display: flex;
  gap: 9px;
  height: 20px;
  justify-content: flex-end;
  left: 97px;
  min-width: 242px;
  position: relative;
}

.mypagesellerprofile .component-25 {
  align-items: center;
  align-self: flex-end;
  display: inline-flex;
  gap: 5.68e-14px;
  margin-bottom: -1.5px;
  padding: 0px 0px 0.55px;
  position: relative;
}

.mypagesellerprofile .text-3 {
  color: var(--x127001boulder);
  font-weight: 400;
  line-height: 19.5px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .margin {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  padding: 0px 0px 0px 2px;
}

.mypagesellerprofile .container-16 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.mypagesellerprofile .component-1-4 {
  height: 14.4px;
  position: relative;
  width: 9.7px;
}

.mypagesellerprofile .component-24 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  height: 19px;
  padding: 0px 0px 0px 20px;
  position: relative;
}

.mypagesellerprofile .text-4 {
  color: var(--x127001boulder);
  cursor: pointer;
  font-weight: 400;
  line-height: 19.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .text-5 {
  color: var(--x127001boulder);
  font-weight: 400;
  line-height: 19.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .group-47 {
  height: 85.6px;
  position: relative;
  width: 1519.2px;
}

.mypagesellerprofile .container-17 {
  align-items: flex-end;
  display: flex;
  height: 86px;
  justify-content: flex-end;
  min-width: 1519px;
  padding: 21.6px 47.2px;
}

.mypagesellerprofile .overlap-group1 {
  height: 42px;
  position: relative;
  width: 1372px;
}

.mypagesellerprofile .container-18 {
  align-items: center;
  display: flex;
  height: 42px;
  left: 0;
  min-width: 1320px;
  padding: 0 12px;
  position: absolute;
  top: 0;
}

.mypagesellerprofile .container-19 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4px;
  padding: 0.71px 0px 0px;
  position: relative;
}

.mypagesellerprofile .component-20 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.mypagesellerprofile .logopng {
  background-image: url(../img/logo-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  position: relative;
  width: 144px;
}

.mypagesellerprofile .container-20 {
  align-items: flex-start;
  align-self: flex-start;
  display: inline-flex;
  flex-direction: column;
  margin-left: 124px;
  padding: 0px 30px;
  position: relative;
}

.mypagesellerprofile .form {
  border: 1px solid;
  border-color: var(--x127001gallery);
  border-radius: 3px;
  height: 41.6px;
  position: relative;
  width: 540px;
}

.mypagesellerprofile .flex-row {
  height: 41px;
  min-width: 540px;
}

.mypagesellerprofile .container-21 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 40px;
  position: relative;
  width: 200px;
}

.mypagesellerprofile .vertical-divider {
  border-color: var(--x127001gallery);
  border-right-style: solid;
  border-right-width: 0.8px;
  height: 40px;
  left: 199px;
  position: absolute;
  top: 0;
  width: 1px;
}

.mypagesellerprofile .container-22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 41.6px;
  justify-content: center;
  margin-bottom: -1.60px;
  position: relative;
  width: 200px;
}

.mypagesellerprofile .combobox-listbox {
  align-items: center;
  align-self: stretch;
  border-radius: 6px;
  display: flex;
  flex: 0 0 auto;
  padding: 6.8px 12.8px;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .container-23 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  height: 28px;
  position: relative;
}

.mypagesellerprofile .container-24 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  max-width: 150px;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .all {
  align-self: stretch;
  color: var(--x127001boulder);
  font-weight: 400;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
}

.mypagesellerprofile .margin-1 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  margin-left: -0.01px;
  padding: 0px 0px 0px 4.08px;
}

.mypagesellerprofile .border {
  border-color: #999999;
  border-left-width: 4.8px;
  border-right-width: 4.8px;
  border-top-style: solid;
  border-top-width: 4.8px;
  height: 4.8px;
  width: 9.6px;
}

.mypagesellerprofile .input-1 {
  flex-direction: column;
  height: 40px;
  margin-left: 1px;
  padding: 10px 15px;
  width: 290px;
}

.mypagesellerprofile .container-25 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -1.60px;
  padding: 0.8px 0px;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .search-products {
  align-self: stretch;
  color: #212529bf;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  letter-spacing: 0.60px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.mypagesellerprofile .component-19 {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 12px 16px;
  position: relative;
  width: 48px;
}

.mypagesellerprofile .component-3-2 {
  height: 16px;
  position: relative;
  width: 16px;
}

.mypagesellerprofile .container-26 {
  height: 31px;
  margin-bottom: 0.4px;
  margin-left: 124px;
  position: relative;
  width: 1px;
}

.mypagesellerprofile .frame-56 {
  align-items: flex-end;
  display: inline-flex;
  gap: 12px;
  margin-left: 7px;
  margin-top: 10.0px;
  position: relative;
}

.mypagesellerprofile .group {
  height: 20px;
  position: relative;
  width: 16.69px;
}

.mypagesellerprofile .m-y-page {
  height: 15px;
  letter-spacing: 0.32px;
  line-height: 13px;
  position: relative;
  white-space: nowrap;
  width: 62px;
}

.mypagesellerprofile .overlap-group {
  height: 30px;
  margin-bottom: 0.2px;
  margin-left: 36px;
  position: relative;
  width: 169px;
}

.mypagesellerprofile .text-6 {
  color: var(--x127001white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 28px;
  left: 97px;
  letter-spacing: 0;
  line-height: 27.6px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.mypagesellerprofile .group-49 {
  align-items: flex-end;
  display: flex;
  gap: 16px;
  height: 19px;
  left: 0;
  min-width: 149px;
  position: absolute;
  top: 11px;
}

.mypagesellerprofile .icon {
  height: 20px;
  margin-bottom: -0.34px;
  margin-left: -1px;
  width: 22px;
}

.mypagesellerprofile .inquiries {
  height: 14px;
  line-height: 13px;
  width: 110px;
}

.mypagesellerprofile .group-48 {
  align-items: flex-start;
  display: flex;
  gap: 12px;
  height: 17px;
  left: 1263px;
  min-width: 109px;
  position: absolute;
  top: 20px;
}

.mypagesellerprofile .icon-1 {
  height: 17px;
  margin-left: -1px;
  margin-top: -0.89px;
  width: 18px;
}

.mypagesellerprofile .log-out {
  align-self: flex-end;
  height: 16px;
  letter-spacing: 0.32px;
  line-height: 13px;
  width: 78px;
}

.mypagesellerprofile .background-border {
  background-color: var(--x127001white);
  border-bottom-style: solid;
  border-bottom-width: 0.8px;
  border-color: var(--x127001gallery);
  border-top-style: solid;
  border-top-width: 0.8px;
  padding: 0.8px 99.6px;
}

.mypagesellerprofile .container-27 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  justify-content: space-between;
  position: relative;
  width: 1320px;
}

.mypagesellerprofile .container-28 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 55px;
  max-width: 1320px;
  padding: 0px 12px;
  position: relative;
  width: 78.6px;
}

.mypagesellerprofile .border-1 {
  align-items: center;
  border-color: var(--x127001gallery);
  border-left-width: 0.8px;
  border-right-width: 0.8px;
  display: flex;
  flex: 0 0 auto;
  min-height: 55px;
  padding: 16px 15.8px;
  width: 53px;
}

.mypagesellerprofile .component-3-3 {
  height: 23px;
  margin-right: -1.60px;
  position: relative;
  width: 23px;
}

.mypagesellerprofile .container-29 {
  height: 55px;
  max-width: 1320px;
  position: relative;
  width: 1029.6px;
}

.mypagesellerprofile .container-30 {
  align-items: flex-start;
  display: inline-flex;
  justify-content: center;
  left: -239px;
  position: relative;
}

.mypagesellerprofile .list-3 {
  align-items: center;
  flex-wrap: wrap;
  gap: 0px 0px;
  height: 55px;
  justify-content: center;
  padding: 0px 203.74px 0px 13.86px;
  width: 596px;
}

.mypagesellerprofile .itemmargin-2 {
  padding: 0px 15px;
}

.mypagesellerprofile .component-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  height: 55px;
  position: relative;
}

.mypagesellerprofile .component-34 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .text {
  color: var(--x127001woodsmoke);
  font-weight: 500;
  line-height: 55px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .itemmargin {
  padding: 0px 30px 0px 15px;
}

.mypagesellerprofile .link-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .container-31 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 91px;
  position: absolute;
  top: 19px;
  transform: rotate(90deg);
  width: 7px;
}

.mypagesellerprofile .component-1-5 {
  height: 6.75px;
  margin-left: -5.43px;
  margin-right: -5.43px;
  position: relative;
  transform: rotate(-90deg);
  width: 17.6px;
}

.mypagesellerprofile .background-horizontal-border {
  align-items: center;
  background-color: #f5f4f9;
  border-bottom-style: solid;
  border-bottom-width: 0.8px;
  border-color: var(--x127001gallery);
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 30px 99.6px 30.8px;
  position: absolute;
  top: 182px;
  width: 1519px;
}

.mypagesellerprofile .container-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .container-32 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1320px;
  position: relative;
}

.mypagesellerprofile .container-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .container-33 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1320px;
  padding: 0px 12px;
  position: relative;
}

.mypagesellerprofile .heading-2 {
  width: 636px;
}

.mypagesellerprofile .my-page {
  color: var(--x127001woodsmoke);
  font-weight: 600;
  line-height: 22px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .container-34 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1320px;
  padding: 0px 12px;
  position: relative;
}

.mypagesellerprofile .list-4 {
  align-items: flex-end;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 4.28px;
  justify-content: flex-end;
  padding: 3.2px 0px 1.6px;
  width: 100%;
}

.mypagesellerprofile .item-link {
  align-items: flex-start;
  display: inline-flex;
  justify-content: flex-end;
  padding: 1.2px 0px;
}

.mypagesellerprofile .place {
  color: var(--x127001woodsmoke);
  line-height: 16.8px;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .item-2 {
  align-items: flex-start;
  display: inline-flex;
  justify-content: flex-end;
  padding: 0px 0px 0px 7px;
}

.mypagesellerprofile .container-35 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 7px 0px 0px;
  position: relative;
}

.mypagesellerprofile .component-1-6 {
  height: 18px;
  position: relative;
  width: 5.68px;
}

.mypagesellerprofile .my-page-1 {
  color: var(--x127001viridian);
  font-weight: 400;
  line-height: 16.8px;
  margin-left: -0.01px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 114px;
  height: 648px;
  margin-top: 52px;
  min-width: 1256px;
}

.mypagesellerprofile .list-item-container {
  min-height: 648px;
}

.mypagesellerprofile .list-item-1 {
  border: 1px solid;
  border-color: var(--x127001gallery);
  border-radius: 3px;
  padding: 6px 16px;
  position: relative;
}

.mypagesellerprofile .container-36 {
  align-items: center;
  align-self: stretch;
  display: flex;
  height: 36px;
  padding: 10px 0px;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .profile {
  letter-spacing: 0.32px;
  line-height: 16px;
  margin-top: -1.00px;
  width: fit-content;
}

.mypagesellerprofile .container-6 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 250px;
  position: absolute;
  top: 14px;
}

.mypagesellerprofile .component-1 {
  height: 10px;
  position: relative;
  width: 8.19px;
}

.mypagesellerprofile .list {
  align-items: flex-start;
  align-self: stretch;
  border-color: var(--x127001gallery);
  border-top-style: solid;
  border-top-width: 0.8px;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5.6px;
  padding: 13.4px 0px 9px;
  width: 100%;
}

.mypagesellerprofile .component-35 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 191.19px;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .container-37 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-right: -23.19px;
  position: relative;
}

.mypagesellerprofile .component-35-1 {
  justify-content: space-between;
}

.mypagesellerprofile .shorts-jeans {
  color: var(--x127001boulder);
  font-weight: 300;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .container-7 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.mypagesellerprofile .list-item {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--x127001gallery);
  border-radius: 3px;
  flex-direction: column;
  margin-top: 17px;
  padding: 6px 16px;
  width: 290px;
}

.mypagesellerprofile .container-8 {
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  display: flex;
  height: 36px;
  padding: 10px 0px;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .inquiries-1 {
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.mypagesellerprofile .component-3-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 167.65px;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .products {
  letter-spacing: 0.32px;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .component-35-2 {
  gap: 119.39px;
}

.mypagesellerprofile .list-item-2 {
  border: 1px solid;
  border-color: var(--x127001gallery);
  border-radius: 3px;
  margin-top: 15px;
  padding: 6px 16px;
  position: relative;
}

.mypagesellerprofile .favorites {
  letter-spacing: 0.32px;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .container-38 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-right: -5.39px;
  position: relative;
}

.mypagesellerprofile .flex-col {
  flex-direction: column;
  margin-top: 6px;
  min-height: 414px;
  width: 852px;
}

.mypagesellerprofile .flex-row-2 {
  align-items: flex-end;
  display: flex;
  gap: 34px;
  height: 246px;
  min-width: 852px;
}

.mypagesellerprofile .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 246px;
  width: 409px;
}

.mypagesellerprofile .profile-1 {
  color: var(--x127001woodsmoke);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  height: 26px;
  letter-spacing: 0.16px;
  line-height: 26px;
  margin-top: -1px;
  min-width: 94px;
}

.mypagesellerprofile .frame-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 47px;
  position: relative;
  width: 409px;
}

.mypagesellerprofile .label-first-name {
  align-self: stretch;
  color: var(--x127001woodsmoke);
  font-weight: 500;
  line-height: 15px;
  margin-top: -1.00px;
  position: relative;
}

.mypagesellerprofile .input {
  align-self: stretch;
  background-color: var(--black-2);
  border: 1px solid;
  border-color: var(--x127001gallery);
  border-radius: 3px;
  height: 50px;
  justify-content: center;
  overflow: hidden;
  padding: 14.6px 15.8px;
  width: 100%;
}

.mypagesellerprofile .container-9 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  height: 21px;
  margin-bottom: -0.20px;
  padding: 0.8px 0px;
  position: relative;
}

.mypagesellerprofile .place-1 {
  align-self: stretch;
  color: var(--x127001boulder);
  line-height: normal;
  margin-bottom: -0.60px;
}

.mypagesellerprofile .frame-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  position: relative;
  width: 409px;
}

.mypagesellerprofile .frame-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 174px;
  width: 409px;
}

.mypagesellerprofile .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 409px;
}

.mypagesellerprofile .input-2 {
  align-self: stretch;
  background-color: #f2f2f2;
  border: 1px solid;
  border-color: var(--x127001gallery);
  border-radius: 3px;
  height: 50px;
  justify-content: center;
  overflow: hidden;
  padding: 14.6px 15.8px;
  width: 100%;
}

.mypagesellerprofile .tkforestkitanet {
  align-self: stretch;
  color: var(--x127001boulder);
  font-weight: 400;
  line-height: normal;
  margin-bottom: -0.60px;
  margin-top: -1.00px;
  position: relative;
}

.mypagesellerprofile .frame-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-right: 0.2px;
  margin-top: 20px;
  position: relative;
  width: 852px;
}

.mypagesellerprofile .address {
  align-self: stretch;
  color: var(--x127001boulder);
  font-weight: 400;
  line-height: normal;
  margin-bottom: -0.60px;
  margin-top: -1.00px;
  position: relative;
}

.mypagesellerprofile .component-3-4 {
  align-items: center;
  background-color: var(--x127001woodsmoke);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-right: 0.2px;
  margin-top: 26px;
  padding: 12px 46.31px;
  position: relative;
  width: 150px;
}

.mypagesellerprofile .text-7 {
  color: var(--x127001white);
  font-weight: 500;
  line-height: 21px;
  margin-left: -7.81px;
  margin-right: -7.81px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .footer {
  align-items: flex-start;
  background-color: var(--x127001woodsmoke);
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  margin-top: 3759px;
  position: relative;
  width: 1519px;
}

.mypagesellerprofile .container-39 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 3.41e-13px;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .container-40 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 60px 99.6px;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .container-41 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 259px;
  max-width: 1320px;
  padding: 0px 12px;
  position: relative;
  width: 330px;
}

.mypagesellerprofile .container-42 {
  align-self: stretch;
  height: 250px;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .overlap-group-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 232px;
  width: 306px;
}

.mypagesellerprofile .footer-logopng {
  background-image: url(../img/footer-logo-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  position: relative;
  width: 144px;
}

.mypagesellerprofile .container-43 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  max-width: 400px;
  padding: 0px 0px 0.7px;
  position: relative;
}

.mypagesellerprofile .tk-forest-is-the-lea {
  align-self: stretch;
  color: var(--x127001silver);
  font-weight: 300;
  line-height: 27px;
  margin-top: -1.00px;
  position: relative;
}

.mypagesellerprofile .container-44 {
  align-items: flex-start;
  display: flex;
  gap: 2.84e-14px;
  margin-left: 0.4px;
  margin-top: 15px;
  position: relative;
  width: 306px;
}

.mypagesellerprofile .component-20-1 {
  padding: 0px 15px 15px 0px;
}

.mypagesellerprofile .androidpng {
  background-image: url(../img/android-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 39px;
  max-width: 130px;
  position: relative;
  width: 130px;
}

.mypagesellerprofile .component-20-2 {
  padding: 0px 0px 15px;
}

.mypagesellerprofile .applepng {
  background-image: url(../img/apple-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 39px;
  max-width: 130px;
  position: relative;
  width: 130px;
}

.mypagesellerprofile .margin-2 {
  margin-bottom: -75.00px;
  width: 306px;
}

.mypagesellerprofile .container-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 259px;
  max-width: 1320px;
  padding: 0px 12px;
  position: relative;
  width: 219.99px;
}

.mypagesellerprofile .container-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .heading-4 {
  align-self: stretch;
  padding: 0px 0px 7px;
  width: 100%;
}

.mypagesellerprofile .horizontal-divider {
  border-bottom-style: solid;
  border-bottom-width: 1.6px;
  border-color: var(--x127001viridian);
  height: 2px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 30px;
}

.mypagesellerprofile .company {
  color: var(--x127001white);
  font-weight: 400;
  line-height: 21.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .list-1 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.mypagesellerprofile .item {
  align-items: center;
  align-self: stretch;
  display: flex;
  width: 100%;
}

.mypagesellerprofile .component-21 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.mypagesellerprofile .text-1 {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .account {
  color: var(--x127001white);
  font-weight: 400;
  line-height: 21.6px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .text-2 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .container-45 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 259px;
  max-width: 1320px;
  padding: 0px 12px;
  position: relative;
  width: 330px;
}

.mypagesellerprofile .place-2 {
  color: var(--x127001white);
  line-height: 21.6px;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .item-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  width: 100%;
}

.mypagesellerprofile .container-46 {
  align-items: flex-start;
  display: flex;
  padding: 3px 0px 0px;
  position: relative;
  width: 35px;
}

.mypagesellerprofile .component-3-5 {
  height: 25px;
  position: relative;
  width: 25px;
}

.mypagesellerprofile .container-47 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-right: -89.72px;
  padding: 0px 52.72px 0px 0px;
  position: relative;
}

.mypagesellerprofile .trade-tower-511-yeo {
  color: var(--x127001silver);
  font-weight: 300;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.mypagesellerprofile .container-12 {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: 35px;
}

.mypagesellerprofile .component-3-6 {
  height: 24px;
  position: relative;
  width: 24px;
}

.mypagesellerprofile .component-3-7 {
  height: 20px;
  position: relative;
  width: 20px;
}

.mypagesellerprofile .list-5 {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  width: 100%;
}

.mypagesellerprofile .item-1 {
  align-items: center;
  display: inline-flex;
  padding: 0px 5px 0px 0px;
}

.mypagesellerprofile .link-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 10px 0px 0px;
  position: relative;
}

.mypagesellerprofile .container-48 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.mypagesellerprofile .component-1-1 {
  height: 24.8px;
  position: relative;
  width: 21.44px;
}

.mypagesellerprofile .container-49 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.mypagesellerprofile .container-50 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.mypagesellerprofile .container-51 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.mypagesellerprofile .component-1-7 {
  height: 24.8px;
  position: relative;
  width: 21.43px;
}

.mypagesellerprofile .horizontal-border {
  align-items: center;
  align-self: stretch;
  border-color: var(--x127001shark);
  border-top-style: solid;
  border-top-width: 0.8px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 10.8px 99.6px 10px;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .container-52 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 472.98px;
  max-width: 1320px;
  padding: 0px 12px;
  position: relative;
}

.mypagesellerprofile .container-53 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.mypagesellerprofile .container-54 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 0px 0.55px;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .copyright {
  color: var(--x127001silver);
  font-weight: 300;
  line-height: 19.5px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .component-22 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
}

.mypagesellerprofile .text-8 {
  color: var(--x127001silver);
  font-weight: 300;
  line-height: 19.5px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .all-rights-reserved {
  color: var(--x127001silver);
  font-weight: 300;
  line-height: 19.5px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .background-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .border-2 {
  border-left-style: solid;
  border-right-style: solid;
  position: relative;
}

.mypagesellerprofile .component-20-3 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.mypagesellerprofile .component-21-13 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.mypagesellerprofile .component-35-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.mypagesellerprofile .flex {
  align-items: flex-end;
  display: flex;
}

.mypagesellerprofile .heading {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.mypagesellerprofile .input-3 {
  align-items: flex-start;
  display: flex;
  position: relative;
}

.mypagesellerprofile .inquiries-2 {
  letter-spacing: 0.32px;
  white-space: nowrap;
}

.mypagesellerprofile .item-4 {
  flex: 0 0 auto;
  position: relative;
}

.mypagesellerprofile .itemmargin-3 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.mypagesellerprofile .jacket-4 {
  color: var(--x127001boulder);
  font-weight: 300;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .list-6 {
  display: flex;
  position: relative;
}

.mypagesellerprofile .list-item-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 290px;
}

.mypagesellerprofile .margin-3 {
  flex: 0 0 auto;
  position: relative;
}

.mypagesellerprofile .phone-2 {
  align-self: stretch;
  color: var(--x127001boulder);
  font-weight: 400;
  line-height: normal;
  margin-bottom: -0.60px;
  margin-top: -1.00px;
  position: relative;
}

.mypagesellerprofile .place-3 {
  font-weight: 400;
  margin-top: -1.00px;
  position: relative;
}

.mypagesellerprofile .profile-2 {
  position: relative;
  white-space: nowrap;
}

.mypagesellerprofile .shirt-4 {
  color: var(--x127001boulder);
  font-weight: 300;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mypagesellerprofile .shorts-jeans-4 {
  color: var(--x127001boulder);
  font-weight: 300;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
