<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 목록</title>
    <link rel="stylesheet" th:href="@{/css/productList.css}">
    <script defer th:src="@{/script/productSearch.js}"></script>
</head>

<body>
    <!-- 헤더 불러오기 -->
    <div th:replace="fragment/header :: header"></div>

<h2>productList.html</h2>

    <div class="container" th:replace="fragment/header(title='상품 목록')">
    </div> <!-- end .container -->

    <!-- 상품 전체 목록 출력 -->
    <div class="content">
        <div class="top">
            <!-- 전체 상품 개수 출력 -->
            <div class="count">
                <p>상품 개수: [[ ${products.totalElements } ]]</p>
            </div>

            <!-- 검색창 -->
            <div class="search">
                <form action="productList" method="GET" id="searchForm">
                    <input type="hidden" name="page" id="requestPage" th:value="${page}">
                    <select name="searchItem" id="searchItem">
                        <option value="productName" th:selected="${searchItem == 'productName'}">상품명</option>
                        <option value="productCategory" th:selected="${searchItem == 'productCategory'}">카테고리</option>
                        <option value="productDescription" th:selected="${searchItem == 'productDescription'}">상품설명</option>
                    </select>
                    <input type="text" name="searchWord" id="searchWord" th:value="${searchWord}">
                    <input type="button" id="search" value="검색" class="btn btn-primary">
                </form>
            </div> <!-- end .search-->
        </div> <!-- end .top -->

        <div class="head">
            <!-- 상품 목록 -->
            <div>
                <table border="1">
                    <tr>
                        <th class="no">상품번호</th>
                        <th>상품명</th>
                        <th class="category">카테고리</th>
                        <th class="price">가격</th>
                        <th class="date">등록일</th>
                    </tr>
                    <th:block th:unless="${#lists.isEmpty(products)}">
                        <!-- 반복 구간 -->
                        <tr th:each="product, status : ${products}">
                            <td class="no" th:text="${(products.number+1) * products.size - (products.size - status.count)}">1</td>
                            <td>
                                <a th:href="@{/product/detail(productId=${product.id}, searchItem=${searchItem}, searchWord=${searchWord})}"
                                   th:text="${product.productName}">상품명 예시</a>
                            </td>
                            <td class="category" th:text="${product.category}">카테고리 예시</td>
                            <td class="price" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA')}">100,000</td>
                            <td class="date" th:text="${#temporals.format(product.registeredDate, 'yyyy-MM-dd')}">2024-10-01</td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div> <!-- end .head -->
    </div> <!-- end .content -->

    <!-- 상품 등록 버튼 : 로그인한 회원만 보임 -->
    <div class="write">
        <a th:href="@{/product/add}" class="btn btn-light">상품 등록</a>
    </div>

    <!-- Page Navigation -->
    <nav class="pagination">
        <!-- 앞 그룹 -->
        <th:block th:if="${navi.startPageGroup > 1}">
            <a class="page-no navi" th:href="|javascript:pageFormSubmit(${navi.startPageGroup-1})|">&laquo;</a>
        </th:block>
        <th:block th:unless="${navi.startPageGroup > 1}">
            <span class="page-no navi">&laquo;</span>
        </th:block>

        <!-- 앞 페이지 -->
        <th:block th:if="${navi.page > 1}">
            <a class="page-no navi" th:href="|javascript:pageFormSubmit(${navi.page - 1})|">&lsaquo;</a>
        </th:block>
        <th:block th:unless="${navi.page > 1}">
            <span class="page-no navi">&lsaquo;</span>
        </th:block>

        <!-- 페이지 번호 출력 -->
        <span th:each="count : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
            <span th:if="${count == navi.page}">
                <b class="page-no current" th:text="${count}"></b>
            </span>
            <span th:unless="${count == navi.page}">
                <a th:href="|javascript:pageFormSubmit(${count})|" class="page-no" th:text="${count}"></a>
            </span>
        </span>

        <!-- 뒷 페이지 -->
        <th:block th:if="${(navi.totalPages) > (navi.page)}">
            <a class="page-no navi" th:href="|javascript:pageFormSubmit(${navi.page + 1})|">&rsaquo;</a>
        </th:block>
        <th:block th:unless="${(navi.totalPages) > (navi.page)}">
            <span class="page-no navi">&rsaquo;</span>
        </th:block>

        <!-- 뒷 그룹 -->
        <th:block th:if="${(navi.currentGroup) < (navi.totalGroupCount)}">
            <a class="page-no navi" th:href="|javascript:pageFormSubmit(${navi.endPageGroup+1})|">&raquo;</a>
        </th:block>
        <th:block th:unless="${(navi.currentGroup) < (navi.totalGroupCount)}">
            <span class="page-no navi">&raquo;</span>
        </th:block>
    </nav>
</body>

</html>
