<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인콰이어리 목록</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <script defer th:src="@{/script/search.js}"></script>
</head>

<body>
    <div class="container" th:replace="fragment/header(title='게시글 목록(f)')">

    </div> <!-- end .container -->

    <!-- 인콰이어리 전체 목록 출력 -->
    <div class="content">
		<div class="top">
            <!-- 전체 글개수 출력 -->
            <div class="count">
                <p>인콰이어리 개수: [[ ${list.totalElements } ]]</p>
            </div>

            <!-- 검색창 -->
            <div class="search">
                <form action="inquiryList" method="GET" id="searchForm">
                    <input type="hidden" name="page" id="requestPage" th:value="${page}">
                    <select name="searchItem" id="searchItem">
                        <option value="subject"   th:selected="${searchItem == 'subject'}">제목</option>
                        <option value="contents" th:selected="${searchItem == 'contents'}">내용</option>
                    </select>
                    <input type="text" name="searchWord" id="searchWord" th:value="${searchWord}">
                    <input type="button" id="search" value="검색">
                </form>
            </div> <!-- end .search-->
        </div>   <!-- end .top--> 

		<div class="head">
	        <!-- 게시글 목록 -->
	        <div>
	            <table border="1">
	                <tr>
	                    <th class="inquiryNo">인콰이어리 번호</th>
	                    <th>제목</th>
	                    <th class="buyerMemberNo">작성자</th>
	                    <th class="offerSendDate">발송일</th>
	                </tr>
       				<th:block th:unless="${#lists.isEmpty(list)}">
       				
	                <!-- 반복 구간-->
	                <tr th:each="inquiry, status : ${list}">
	                    <td class="no" th:text="${(list.number+1) * list.size - (list.size - status.count)}">1</td>
	                    <td>
	                    	<a th:href="@{/inquiry/inquiryDetail(inquiryNo=${inquiry.inquiryNo}, searchItem=${searchItem}, searchWord=${searchWord})}" 
	                           th:text="${inquiry.subject}"></a>
	                           

	                        
	                        <!-- 첨부파일 유무 -->    
	                        <span th:if="${inquiry.originalFileName != null}">
	                        	<img th:src="@{/images/attachment.png}" alt="삭제" width="15px">
	                        </span>   
	                   	</td>
	                   	
	                    <td class="buyerMemberNo" th:text="${inquiry.buyerMemberNo}"></td>
	                    <td class="offerSendDate" th:text="${#temporals.format(inquiry.offerSendDate, 'yyyy-MM-dd HH:mm')}"></td>
	                </tr>
	                </th:block>
	                <!--  댓글 개수 출력 -->
	                <th:block th:if="${inquiry.replyCount != 0}">
	                     <span style="font-weight:bold;color:darkred;">([[ ${inquiry.replyCount} ]])</span>
	                </th:block>	                
	                
	            </table>
	        </div>
	     </div> <!-- end .head-->
    </div><!-- end .content -->
    <!-- 글쓰기 버튼 : 로그인한 회원만 보임 -->
    <div class="write">
        <a th:href="@{/inquiry/inquiryWrite}">인콰이어리 답변 작성</a>
    </div>

    <!-- Page Navigation -->
    <nav class="pagination">
        <!-- 앞 그룹 -->
        <!-- 두 번째 그룹 이상에서 보고 있을 때는 링크 생김 -->
		<th:block th:if="${navi.startPageGroup > 1}">
			<a class="page-no navi" 
			   th:href="|javascript:pageFormSubmit(${navi.startPageGroup-1})|" >&laquo;</a>
		</th:block>
		
		<!-- 첫 번째 그룹을 보고 있을 때는 링크 안생김 -->
		<th:block th:unless="${navi.startPageGroup > 1}">
			<span class="page-no navi" >&laquo;</span>
		</th:block>

        <!-- 앞 페이지 -->
        <!-- 2페이지 이상의 페이지를 보고 있다면 링크 생김 -->
        <th:block th:if="${navi.page > 1}">
        	<a class="page-no navi" 
        	   th:href="|javascript:pageFormSubmit(${navi.page - 1})|" >&lsaquo;</a>
        </th:block>
        
        <!-- 1페이지를 보고 있다면 링크 생기지 않음 -->
        <th:block th:unless="${navi.page > 1}">
			<span class="page-no navi">&lsaquo;</span>
        </th:block>
        
        <!-- 페이지 번호 출력 -->
        <span th:each="count : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
        	<!-- 요청한 페이지(링크 불필요) -->
        	<span th:if="${count == navi.page}">
        		<b class="page-no current" th:text="${count}"></b>
        	</span>
        	       
        	<!-- 요청하지 않은 나머지 페이지(링크필요) -->
        	<span th:unless="${count == navi.page}">
        		<a th:href="|javascript:pageFormSubmit(${count})|" class="page-no" th:text="${count}"></a>
        	</span>		
		</span>
		
        <!-- 뒷 페이지 -->
        <!-- 현재 페이지 뒤에 다른 페이지가 있으면 링크 생김 -->
		<th:block th:if="${(navi.totalPages) > (navi.page)}">
			<a class="page-no navi" 
				th:href="|javascript:pageFormSubmit(${navi.page + 1})|">&rsaquo;</a>
		</th:block>
		
        <!-- 마지막 페이지라면 링크 없음 -->
        <th:block th:unless="${(navi.totalPages) > (navi.page)}">
			<span class="page-no navi">&rsaquo;</span>
		</th:block>

        <!-- 뒷 그룹 -->
        <!-- 다음 그룹이 있으면 링크가 생김 -->
		<th:block th:if="${(navi.currentGroup) < (navi.totalGroupCount)}">
			<a class="page-no navi" 
			   th:href="|javascript:pageFormSubmit(${navi.endPageGroup+1})|">&raquo;</a>
		</th:block>
		
		<!-- 마지막 그룹을 보고 있으면 링크 없음 -->
		<th:block th:unless="${(navi.currentGroup) < (navi.totalGroupCount)}">
			<span class="page-no navi" >&raquo;</span>
		</th:block>
    </nav>
</body>

</html>



