<!--========================================================= 
Item Name: Masterkart - Multipurpose eCommerce HTML Template.
Author: ashishmaraviya
Version: 1.1.0
Copyright 2024
============================================================-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Best ecommerce html template for single and multi vendor store.">
	<meta name="keywords"
		content="apparel, catalog, clean, ecommerce, ecommerce HTML, electronics, fashion, html eCommerce, html store, minimal, multipurpose, multipurpose ecommerce, online store, responsive ecommerce template, shops">
	<meta name="author" content="ashishmaraviya">
   <title>TK Forest</title>
	<!-- Fav icon인데 우리 로고로 임시 교체 -->
	<link rel="icon" href="../../static/images/tkforestlogo.png">
	<!-- Font Family -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">

	<!-- Bootstrap stylesheet -->
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<!-- Site Main stylesheet -->
	<link rel="stylesheet" href="../../static/css/landing-style.css">
	<!-- Responsive stylesheet -->
	<link rel="stylesheet" href="../../static/css/landing-responsive.css">
</head>

<body class="hero-anime">

	<!-- Loader -->
	<div id="ms-overlay">
		<div class="loader"></div>
	</div>

	<!-- Navigation -->
	<div class="nav-body hero-anime">
		<div class="navigation-wrap bg-light start-header start-style">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav class="navbar navbar-expand-md navbar-light">

							<a class="navbar-brand" href="index.html" target=""><img
									src="../../static/images/tkforestlogo.png" alt=""></a>

							<button class="navbar-toggler" type="button" data-toggle="collapse"
								data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
								aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon ms-header-btn ms-side-toggle d-lg-none"></span>
							</button>

							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav ml-auto py-4 py-md-0">
									<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
										<a class="mn-nav nav-link" href="#overview">Overview</a>
									</li>
									<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
										<a class="mn-nav nav-link" href="#demos">Demos</a>
									</li>
									<li class="mn-nav nav-item pl-4 pl-md-0 ml-0 ml-md-4">
										<a class="mn-nav nav-link" href="#features">Features</a>
									</li>
									<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
										<a class="mn-nav nav-link" href="#core">Core Features</a>
									</li>
								</ul>
							</div>

						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ms-side-cart-overlay"></div>

	<!-- Mobile Menu Start -->
	<div id="ms-mobile-menu" class="ms-side-cart ms-mobile-menu">
		<div class="ms-menu-title">
			<span class="menu_title">Menu</span>
			<button class="ms-close">×</button>
		</div>
		<div class="ms-menu-inner">
			<div class="ms-menu-content">
				<ul>
					<li><a class="mn-nav" href="#overview">Overview</a></li>
					<li><a class="mn-nav" href="#demos">Demos</a></li>
					<li><a class="mn-nav" href="#features">Features</a></li>
					<li><a class="mn-nav" href="#core">Core Features</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- mobile Menu End -->

	<!-- Start Page Title Section -->
	<section class="page-hero hero-anime page-section" id="overview">

		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 hero-details">

					<div class="page-intro disp-block">

						<img class="logo-intro" src="../../static/images/tkforestlogo.png" alt="logo-img">
						<h1>현영짱~ <span class="type">Korean B2B</span> transaction brokerage platform</h1>
						<p>Masterkart has built with advanced, unique and creative UI/UX with structured code.
							Masterkart has advanced design & features to build website easily for developers.</p>
						<a class="btn btn-scroll" href="javascript:void(0)">VIEW DEMO</a>
						<a class="btn btn-primary btn-buy" href="">Buy Now</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 hero-details dis-none">
					<img class="desk" src="../../static/images/landing-desk.png" alt="desk">
					<img class="desk-m" src="../../static/images/landing-desk-m.png" alt="desk">
				</div>
			</div>
		</div>
	</section>
	<!-- End Page Title Section -->

	<!-- Start All Demo Pages Section -->
	<section class="portfolio pp-section sms-bg-img page-section" id="demos">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="section-header text-center">
						<h2 class="title"><span>42+</span> Pre Built Pages</h2>
						<p class="sub-title sub-title-dark">Easy to find out what you are looking for: shop, product,
							profile, payment, blog, vendor & many more pages already included by Masterkart. Light
							weight & Easy to customize, We have did this with high quality standard with unique design
							to build your marketplace more comfortable.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="portfolio-menu">
						<ul>
							<!-- <li class="mixitup-control-active" data-filter="*">All</li> -->
							<li class="mixitup-control-active active filter" data-filter=".home">Home<span class="label"
									title="Added New Demos"></span></li>
							<li data-filter=".product">테스트1</li>
							<li data-filter=".shop">aaaShop</li>
							<li data-filter=".blog">aaaBlog</li>
							<li data-filter=".other">aaaothers<span class="label" title="Added New Demos"></span></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row portfolio-list">

				<!-- Home -->
				<div class="col-lg-6 col-md-6 mix single-portfolio-item home">
					<a href="masterkart-html/index.html" class="preview home-preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/01.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/index.html" class="btn-page">
						<h5 class="card-title">Classic</h5>
					</a>
				</div>
				<div class="col-lg-6 col-md-6 mix single-portfolio-item home">
					<span class="lable"></span>
					<a href="masterkart-html/demo-2.html" class="preview home-preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/03.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/demo-2.html" class="btn-page">
						<h5 class="card-title">Creative - Slider</h5>
					</a>
				</div>

				<!-- Shop -->
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-left-sidebar-col-3.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-1.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-left-sidebar-col-3.html" class="btn-page">
						<h5 class="card-title">Shop left sidebar col 3</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-left-sidebar-col-4.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-2.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-left-sidebar-col-4.html" class="btn-page">
						<h5 class="card-title">Shop left sidebar col 4</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-right-sidebar-col-3.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-3.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-right-sidebar-col-3.html" class="btn-page">
						<h5 class="card-title">Shop right sidebar col 3</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-right-sidebar-col-4.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-4.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-right-sidebar-col-4.html" class="btn-page">
						<h5 class="card-title">Shop right sidebar col 4</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-full-width.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-5.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-full-width.html" class="btn-page">
						<h5 class="card-title">shop full width</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-banner-left-sidebar-col-3.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-6.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-banner-left-sidebar-col-3.html" class="btn-page">
						<h5 class="card-title">banner left sidebar col 3</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-banner-left-sidebar-col-4.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-7.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-banner-left-sidebar-col-4.html" class="btn-page">
						<h5 class="card-title">banner left sidebar col 4</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-banner-right-sidebar-col-3.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-8.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-banner-right-sidebar-col-3.html" class="btn-page">
						<h5 class="card-title">banner right sidebar col 3</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-banner-right-sidebar-col-4.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-9.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-banner-right-sidebar-col-4.html" class="btn-page">
						<h5 class="card-title">banner right sidebar col 4</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-banner-full-width.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-10.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-banner-full-width.html" class="btn-page">
						<h5 class="card-title">banner full width</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-banner-full-width-col-3.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-15.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-banner-full-width-col-3.html" class="btn-page">
						<h5 class="card-title">banner full width col 3</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-full-width-col-3.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-11.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-full-width-col-3.html" class="btn-page">
						<h5 class="card-title">shop full width col 3</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-full-width-col-4.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-12.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-full-width-col-4.html" class="btn-page">
						<h5 class="card-title">shop full width col 4</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-full-width-col-5.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-13.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-full-width-col-5.html" class="btn-page">
						<h5 class="card-title">shop full width col 5</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-full-width-col-6.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-14.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-full-width-col-6.html" class="btn-page">
						<h5 class="card-title">shop full width col 6</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-list-left-sidebar.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-16.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-list-left-sidebar.html" class="btn-page">
						<h5 class="card-title">shop list left sidebar</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-list-right-sidebar.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-17.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-list-right-sidebar.html" class="btn-page">
						<h5 class="card-title">shop list right sidebar</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-list-banner-left-sidebar.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-18.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-list-banner-left-sidebar.html" class="btn-page">
						<h5 class="card-title">list banner left sidebar</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-list-banner-right-sidebar.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-19.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-list-banner-right-sidebar.html" class="btn-page">
						<h5 class="card-title">list banner right sidebar</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item shop">
					<a href="masterkart-html/shop-list-full-col-2.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/shop-20.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/shop-list-full-col-2.html" class="btn-page">
						<h5 class="card-title">shop list full col 2</h5>
					</a>
				</div>

				<!-- Product -->
				<div class="col-lg-4 col-md-6 mix single-portfolio-item product">
					<a href="masterkart-html/product-left-sidebar.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/p-1.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/product-left-sidebar.html" class="btn-page">
						<h5 class="card-title">product left sidebar</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item product">
					<a href="masterkart-html/product-right-sidebar.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/p-2.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/product-right-sidebar.html" class="btn-page">
						<h5 class="card-title">product right sidebar</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item product">
					<a href="masterkart-html/product-full-width.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/p-9.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/product-full-width.html" class="btn-page">
						<h5 class="card-title">product full width</h5>
					</a>
				</div>

				<!-- Blog -->
				<div class="col-lg-4 col-md-6 mix single-portfolio-item blog">
					<a href="masterkart-html/blog-left-sidebar.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/b-1.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/blog-left-sidebar.html" class="btn-page">
						<h5 class="card-title">blog left sidebar</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item blog">
					<a href="masterkart-html/blog-right-sidebar.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/b-2.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/blog-right-sidebar.html" class="btn-page">
						<h5 class="card-title">blog right sidebar</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item blog">
					<a href="masterkart-html/blog-detail-left-sidebar.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/b-3.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/blog-detail-left-sidebar.html" class="btn-page">
						<h5 class="card-title">blog detail left sidebar</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item blog">
					<a href="masterkart-html/blog-detail-right-sidebar.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/b-4.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/blog-detail-right-sidebar.html" class="btn-page">
						<h5 class="card-title">blog detail right sidebar</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item blog">
					<a href="masterkart-html/blog-full-width.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/b-5.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/blog-full-width.html" class="btn-page">
						<h5 class="card-title">blog full width</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item blog">
					<a href="masterkart-html/blog-detail-full-width.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/b-6.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/blog-detail-full-width.html" class="btn-page">
						<h5 class="card-title">blog detail full width</h5>
					</a>
				</div>

				<!-- Other -->
				<div class="col-lg-4 col-md-6 mix single-portfolio-item other">
					<a href="masterkart-html/discover.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/o-10.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/discover.html" class="btn-page">
						<h5 class="card-title">Discover</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item other">
					<a href="masterkart-html/track-order.html.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/o-11.png');"
								class="img-scroll"></span>
							class="img-scroll"></span>

						</span>
					</a>
					<a href="masterkart-html/track-order.html.html" class="btn-page">
						<h5 class="card-title">Track Order</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item other">
					<a href="masterkart-html/about-us.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/o-1.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/about-us.html" class="btn-page">
						<h5 class="card-title">About us</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item other">
					<a href="masterkart-html/contact-us.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/o-2.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/contact-us.html" class="btn-page">
						<h5 class="card-title">contact us</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item other">
					<a href="masterkart-html/cart.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/o-3.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/cart.html" class="btn-page">
						<h5 class="card-title">cart</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item other">
					<a href="masterkart-html/checkout.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/o-4.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/checkout.html" class="btn-page">
						<h5 class="card-title">checkout</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item other">
					<a href="masterkart-html/compare.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/o-5.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/compare.html" class="btn-page">
						<h5 class="card-title">compare</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item other">
					<a href="masterkart-html/faq.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/o-6.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/faq.html" class="btn-page">
						<h5 class="card-title">faq</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item other">
					<a href="masterkart-html/login.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/o-7.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/login.html" class="btn-page">
						<h5 class="card-title">login</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item other">
					<a href="masterkart-html/register.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/o-8.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/register.html" class="btn-page">
						<h5 class="card-title">register</h5>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 mix single-portfolio-item other">
					<a href="masterkart-html/terms-condition.html" class="preview">
						<span class="pc-bg">
							<span style="background-image: url('../../static/images/o-9.png');"
								class="img-scroll"></span>
						</span>
					</a>
					<a href="masterkart-html/terms-condition.html" class="btn-page">
						<h5 class="card-title">terms condition</h5>
					</a>
				</div>

				<div class="col-lg-12">
					<a class="btn btn-primary btn-buy" href="">Buy Now</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End All Demo Pages Section -->

	<!-- Start Key Features Section -->
	<section class="portfolio pp-section sms-bg-img page-section sms-bg-01" id="feature">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="section-header text-center">
						<h2 class="title"><span>Key</span> Features</h2>
						<p class="sub-title sub-title-dark">Easy to find out what you are looking for: shop, product,
							profile, payment, blog, vendor & many more pages already included by Masterkart. Light
							weight & Easy to customize, We have did this with high quality standard with unique design
							to build your marketplace more comfortable.</p>
					</div>
				</div>
			</div>
			<div class="row m-t-15">
				<!-- Single Preview -->
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="key-box">
						<img class="key-features-image features-image style-image" src="../../static/images/key-11.png"
							alt="hero image">
						<p class="features-caption">Automatically get current location or select it manually.</p>
					</div>
					<a href="masterkart-html/index.html">
						<p class="features-text">Current Location</p>
					</a>
					<p class="features-caption-r">Automatically get current location or select it manually.</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="key-box">
						<img class="key-features-image features-image style-image" src="../../static/images/key-1.png"
							alt="hero image">
						<p class="features-caption">Search product by selected categories.</p>
					</div>
					<a href="masterkart-html/product-360-left-sidebar.html">
						<p class="features-text">Custom Search</p>
					</a>
					<p class="features-caption-r">Search product by selected categories.</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="key-box">
						<img class="key-features-image features-image style-image" src="../../static/images/key-12.png"
							alt="hero image">
						<p class="features-caption">On shop page your products describe with description using grid
							feature.</p>
					</div>
					<a href="masterkart-html/shop-left-sidebar-col-3.html">
						<p class="features-text">Shop Grids & Filter</p>
					</a>
					<p class="features-caption-r">On shop page your products describe with description using grid
						feature.</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="key-box">
						<img class="key-features-image features-image style-image" src="../../static/images/key-7.png"
							alt="hero image">
						<p class="features-caption">Eye catching cart & wish sidebar with increase or decrease quantity
							of product.</p>
					</div>
					<a href="masterkart-html/index.html">
						<p class="features-text">Cart & Wish Sidebar</p>
					</a>
					<p class="features-caption-r">Eye catching cart & wish sidebar with increase or decrease quantity of
						product.</p>
				</div>
				<!-- End Single features-->

				<!-- Single features -->
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="key-box">
						<img class="key-features-image features-image style-image" src="../../static/images/key-14.png"
							alt="hero image">
						<p class="features-caption">Modern category sidebar to find product easily.</p>
					</div>
					<a href="masterkart-html/index.html">
						<p class="features-text">Category Sidebar</p>
					</a>
					<p class="features-caption-r">Modern category sidebar to find product easily.</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="key-box">
						<img class="key-features-image features-image style-image" src="../../static/images/key-2.png"
							alt="hero image">
						<p class="features-caption">Discover items to find easily discounted products.</p>
					</div>
					<a href="masterkart-html/index.html">
						<p class="features-text">Discover Items</p>
					</a>
					<p class="features-caption-r">Discover items to find easily discounted products.</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="key-box">
						<img class="key-features-image features-image style-image" src="../../static/images/key-3.png"
							alt="hero image">
						<p class="features-caption">Amazing zoom product image.</p>
					</div>
					<a href="masterkart-html/index.html">
						<p class="features-text">Product Zoom</p>
					</a>
					<p class="features-caption-r">Amazing zoom product image.</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="key-box">
						<img class="key-features-image features-image style-image" src="../../static/images/key-4.png"
							alt="hero image">
						<p class="features-caption">You can use dark mode with more effective and eye catching layout.
						</p>
					</div>
					<a href="masterkart-html/index.html">
						<p class="features-text">Top Vendor</p>
					</a>
					<p class="features-caption-r">You can use dark mode with more effective and eye catching layout.</p>
				</div>
				<!-- End Single features-->
				<!-- Single Preview -->
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="key-box">
						<img class="key-features-image features-image style-image" src="../../static/images/key-5.png"
							alt="hero image">
						<p class="features-caption">Subscribe the masterkart to get in touch and get the future update.
						</p>
					</div>
					<a href="masterkart-html/index.html">
						<p class="features-text">Newsletter</p>
					</a>
					<p class="features-caption-r">Subscribe the masterkart to get in touch and get the future update.
					</p>
				</div>
				<!-- End Single features-->
				<!-- Single Preview -->
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="key-box">
						<img class="key-features-image features-image style-image" src="../../static/images/key-15.png"
							alt="hero image">
						<p class="features-caption">Quickview popup for check product details easily.</p>
					</div>
					<a href="masterkart-html/index.html">
						<p class="features-text">Quickview</p>
					</a>
					<p class="features-caption-r">Quickview popup for check product details easily.</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="key-box">
						<img class="key-features-image features-image style-image" src="../../static/images/key-9.png"
							alt="hero image">
						<p class="features-caption">Footer navigation links collapsed on mobile screen.</p>
					</div>
					<a href="masterkart-html/index.html">
						<p class="features-text">Footer Navigation</p>
					</a>
					<p class="features-caption-r">Footer navigation links collapsed on mobile screen.</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-3 col-md-4 col-sm-6">
					<span class="lable"></span>
					<div class="key-box">
						<img class="key-features-image features-image style-image" src="../../static/images/key-10.png"
							alt="hero image">
						<p class="features-caption">Product image zoom and 'add more' features to purchase extra
							products.</p>
					</div>
					<a href="masterkart-html/index.html">
						<p class="features-text">Zoom & Add more</p>
					</a>
					<p class="features-caption-r">Product image zoom and 'add more' features to purchase extra products.
					</p>
				</div>
				<!-- End Single features-->
				<div class="col-lg-12">
					<a class="btn btn-primary btn-buy" href="">Buy Now</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Key Features Section -->

	<!-- Coming Soon Section -->
	<section class="portfolio pp-section sms-bg-img page-section bg-icon" id="features">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="section-header text-center">
						<h2 class="title"><span>Coming</span> Soon</h2>
					</div>
				</div>
			</div>
			<div class="row m-t-15">
				<div class="c-list">
					<ul>
						<li class="done">Dark Mode</li>
						<li class="done">RTL Mode</li>
						<li class="done">Background Skin Mode</li>
						<li>Vendor Pages</li>
						<li>User Profile Pages</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Coming Soon Section -->

	<section class="pp-section core page-section sms-bg-01" id="core">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-header text-center">
						<h2 class="title"><span>Core</span> Features</h2>
						<p class="sub-title">Masterkart have use ultimate core features like SCSS, SEO Optimization, W3
							validate Code, Well Documentation, Fully Structure | Organized and commented code.</p>
					</div>
				</div>
			</div>
			<div class="row m-t-15">
				<!-- Single Preview -->
				<div class="col-lg-2 col-md-4 col-sm-6">
					<img class="features-image style-image" src="../../static/images/html-logo.png" alt="hero image">
					<p class="features-text">HTML5</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-2 col-md-4 col-sm-6">
					<img class="features-image style-image" src="../../static/images/css-logo.png" alt="hero image">
					<p class="features-text">CSS3</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-2 col-md-4 col-sm-6">
					<img class="features-image style-image" src="../../static/images/sass-icon.png" alt="hero image">
					<p class="features-text">Sass</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-2 col-md-4 col-sm-6">
					<img class="features-image style-image" src="../../static/images/bootstraap-logo.png"
						alt="hero image">
					<p class="features-text">Bootstrap</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-2 col-md-4 col-sm-6">
					<img class="features-image style-image" src="../../static/images/w3c-logo.png" alt="hero image">
					<p class="features-text">W3 validate</p>
				</div>
				<!-- End Single features-->



				<!-- Single Preview -->
				<div class="col-lg-2 col-md-4 col-sm-6">
					<img class="features-image style-image" src="../../static/images/responsive-icon.png"
						alt="hero image">
					<p class="features-text">Responsive</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-2 col-md-4 col-sm-6">
					<img class="features-image style-image" src="../../static/images/google-logo.png" alt="hero image">
					<p class="features-text">Google Fonts</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-2 col-md-4 col-sm-6">
					<img class="features-image style-image" src="../../static/images/broweser-support.png"
						alt="hero image">
					<p class="features-text">Browser Compatibility</p>
				</div>
				<!-- End Single features-->

				<!-- Single features -->
				<div class="col-lg-2 col-md-4 col-sm-6">
					<img class="features-image style-image" src="../../static/images/seo.png" alt="hero image">
					<p class="features-text">SEO Optimize</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-2 col-md-4 col-sm-6">
					<img class="features-image style-image" src="../../static/images/well-documentation.png"
						alt="hero image">
					<p class="features-text">Well Documentation</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-2 col-md-4 col-sm-6">
					<img class="features-image style-image" src="../../static/images/owl-logo.png" alt="hero image">
					<p class="features-text">Owe Carousel</p>
				</div>
				<!-- End Single features-->
				<!-- Single features -->
				<div class="col-lg-2 col-md-4 col-sm-6">
					<img class="features-image style-image" src="../../static/images/slick.png" alt="hero image">
					<p class="features-text">Slick Carousel</p>
				</div>
				<!-- End Single features-->
			</div>
		</div>
	</section>
	<!-- End Core Features Section -->

	<!-- Start Built Your Site With Section -->
	<section class="pp-section page-section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-header text-center">
						<h2 class="title">Build your website with <span>Masterkart</span> template.</h2>
						<h3 class="title">Purchase now.</h3>
						<p class="s-title">HIGH PERFORMANCE <span>|</span> FREE UPDATES LIFETIME <span>|</span> Trusted
							Support</p>
						<p class="sub-title">Masterkart have use ultimate core features like SCSS, SEO Optimization, W3
							validate Code, Well Documentation, Fully Structure | Organized and commented code.</p>
						<div class="col-lg-12">
							<a class="btn btn-primary btn-buy" href="">Buy Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Built Your Site With Section -->

	<!-- Start Footer -->
	<div class="footer">
		<p><span id="copyright_year"></span> copyright by Masterkart powered by Masterkart.</p>
	</div>
	<a href="javascript:void(0)" id="return-to-top"><span><img src="../../static/images/arrow-up.png" alt=""></span></a>
	<!-- End Footer -->

	<!-- Theme Custom Cursors -->
	<div class="ms-cursor"></div>
	<div class="ms-cursor-2"></div>

	<!-- jquery -->
	<!-- <script src="../../static/script/jquery-3.1.0.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="../../static/script/typer.js"></script>
	<script src="../../static/script/mixitup.js"></script>
	<script src="../../static/script/landing-script.js"></script>


</body>

</html>